<launch>
    
    <!-- LAUNCH PIONEER ROBOT -->
    <node pkg="rosaria" type="RosAria" name="RosAria">  
        <param name="port" value="/dev/ttyUSB0" />
        <param name="odom_frame" value="Aria_odom"/>
        <param name="base_link_frame" value="Aria_base_link"/>
    </node>

    <!-- LAUNCH JOYSTICK -->
    <include file="/mnt/intention_net/control/launch/joy.launch"/>

    <!-- LAUNCH MYNTEYE SENSOR -->
    <!-- <include file="/mnt/intention_net/control/launch/mynteye_1.launch"/> -->
    <include file="/mnt/intention_net/control/launch/mynteye_2.launch"/>
    <include file="/mnt/intention_net/control/launch/mynteye_3.launch"/>
    <!-- <include file="/mnt/intention_net/control/launch/mynteye_4.launch"/> -->
    <include file="/mnt/intention_net/control/launch/mynteye.launch"/>
    <!-- <include file="/mnt/intention_net/control/launch/ladar.launch"/> -->

    <!-- PUBLISH TF BASE_LINK ==> MYNTEYE_LINK
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_mynteye" args="0 0 0.1397 0 0 0 base_link mynteye_link 100"/>
    -->
    <!-- LAUNCH ROBOT_LOCALIZATION EKF NODE -->
    <include file="/mnt/intention_net/control/launch/ekf_template.launch"/>

    <!-- ROSBAG RECORD NODE-->
    <arg name="record"  default="False"/> <!-- Pass record:= True to enable recording-->

    <group if="$(arg record)"> 
      <node pkg="rosbag"
           type="record"
           name="train_recorder"
           output="screen"
           args="-o /data
                 /train/left_img 
                 /train/right_img 
                 /train/depth_img 
                 /train/cmd_vel 
                 /train/intention
		             /train/imu
		             /train/odometry/filtered
                 /train/manual_intention" />
  </group>

</launch>

