<launch>
    <node name="speed_controller" pkg="pid" type="controller">
        <param name="Kp" value="5.0" />
        <param name="Ki" value="0.0" />
        <param name="Kd" value="0.1" />
        <param name="upper_limit" value="2" />
        <param name="lower_limit" value="-2" />
        <param name="windup_limit" value="10" />
        <param name="max_loop_frequency" value="100.0" />
        <param name="min_loop_frequency" value="100.0" />
        <remap from="state" to="speed"/>
        <remap from="setpoint" to="desired_speed"/>
    </node>
</launch>
